serviceimage{
    height: 100px;
}
serviceimage:hover{
    height: 500px;
}

.img-fluid {
    max-width: 100%;
    height: 150px;
    transition: width 2s, height 2s, transform 2s;
}

.img-fluid:hover{
  height: 200px;
  transform: rotate(90deg);
}