.header-container {
    height:650px;
    position:relative;
   
}
.header-container::after {
    height:550px;
    content:' ';
    position: absolute;
    top: 0;
    width: 31%;
    right: 0;
  
    z-index: -50;
}