.footer-area{
    background-color: #ffffff;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #808080;
    border-radius: 50%;
    border: 1px solid #808080;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #808080 ;
    color:white;
}